@import '../../global-styles/variables.scss';

.mainPageDiv {
  width: 100%;
  display: flex;

  .sideDiv {
    width: $side-div-width-desktop;
    border-right: 1px solid $table-color;
  }

  .tableMainDiv {
    width: calc(100% - $side-div-width-desktop);
    padding: 24px 24px 0px;
  }
}

@media screen and (max-width: 768px) {
  .mainPageDiv {
    .sideDiv {
      width: $side-div-width-tablet;
    }

    .tableMainDiv {
      width: calc(100% - $side-div-width-tablet);
      padding-top: 41px;
    }
  }
}

@media screen and (max-width: 450px) {
  .mainPageDiv {
    .sideDiv {
      width: 0;
      border: none;
    }

    .tableMainDiv {
      width: 100vw;
      padding: 85px 16px 0px;
    }
  }
}
